<% provide(:title, "統計") %>
<ul class="time_stamps" >
    <% @starts.zip(@ends).each do |start, en| %>
        <% if en != nil %>
        <li>
        <%= Time.at((en.created_at - start.created_at).floor).utc.strftime('%X') %>
        </li>
        <% end %>
    <% end %>
</ul>


