<h1>10分休憩所(10分後にチャイムが鳴ります)</h1>
<h1>
今日の合計・・・<%= @today_total.floor %>時間<%= (60*(@today_total - @today_total.floor)).floor %>分
</h1>
<div id="count_up_timer">00:00:00</div>
<button id="reload" onclick="doReload()">カウントバグった時用リロード</button>
<p><%= link_to "勉強再開！","/start/create", method: :post, class: "btn btn-lg btn-info", id:"restart" %></p>
<audio controls src="assets/Japanese_School_Bell02-02(Slow-Mid).mp3" id="sound">
<script type="text/javascript">
function doReload(){
    window.location.reload();
}
intervalId = setInterval(function(){
    document.getElementById("sound").play();
    clearInterval(intervalId);
  },1000*60*10); 
  var timerVariable = setInterval(countUpTimer, 1000);
  var totalSeconds = 0;
  
  function countUpTimer() {
    ++totalSeconds;
    var hour = ("00" + Math.floor(totalSeconds / 3600)).slice(-2);
    var minute = ("00" + Math.floor((totalSeconds - hour * 3600) / 60)).slice(-2);
    var seconds = totalSeconds - (hour * 3600 + minute * 60);
    document.getElementById("count_up_timer").innerHTML = hour + ":" + minute + ":" + seconds;
  }
</script>
