<% provide(:title, "トップページ") %>
<div class="center">
  <h1><span style="color:skyblue">Time Keeper</span>にようこそ！</h1>

  <h2>
    これは勉強時間を記録してくれるアプリです。
  </h2>

  <%= link_to "今すぐ登録！", signup_path, class: "btn btn-lg btn-info" %>
</div>