<% provide(:title, "トップページ") %>
<% if logged_in? %>
<div class = "container">
<p class="timer">タイマー開始時刻: <%= @new_start %></p>
<p id="datetime" class= "timer" ></p>
<script type="text/javascript">

  $(document).ready(function() 
  { setInterval(function(){
    var dd = new Date();
    var YYYY = dd.getFullYear();
    var MM = dd.getMonth()+1;
    var DD = dd.getDate();
    var HH = dd.getHours();
    var mm = dd.getMinutes();
    $('#datetime').text("現在時刻:" + YYYY + "年" + MM + "月" + DD + "日" + HH + "時" + mm + "分");
},1000);
  });

</script>
<p>
<% if @start.count - @end.count == 0 %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "スタート","/home/create", method: :post, class: "btn btn-lg btn-info", id:"startcount" %>
    </div>
  </div>
<% end %>
<% if @start.count - 1 == @end.count %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "ストップ","/home/end", method: :post, class: "btn btn-lg btn-primary", id:"endcount" %>
    </div>
  </div>
<% end %>
</p>
</div> 

<% else %>
<div class="center">
  <h1><span style="color:skyblue">Time Keeper</span>にようこそ！</h1>

  <h2>
    これは勉強時間を記録してくれるアプリです。
  </h2>

  <%= link_to "今すぐ登録！", signup_path, class: "btn btn-lg btn-info" %>
</div>
<% end %>